body {background-color:#81F7F3;
  
}

.head {font-size:xx-large;
       font-weight:bolder;
        


}

.head1 {font-size:large;
        font-weight:bold;



}

.char {color:#FF0040;
      font-weight:bolder



}

.cssgridview {width:auto; margin:5px 0 10px 0; border:solid 1px #54E33F; border-collapse:collapse; text-align:center; font-family:"Comic Sans MS"; color: black;}

.cssgridview td{padding:10px; border:solid 1px #54E33F; color:black;}

.cssgridview th{padding:10px; color:#FF9EB4; background:#321870; border-left:solid 1px black; font-size:0.9em;}

.cssgridview .alt{background-color:#F5F6CE;}
