body {background-color:#81F7F3;
  
}

.head {font-size:xx-large;
       font-weight:bolder;
        


}

.head1 {font-size:large;
        font-weight:bold;



}

.char {color:#FF0040;
      font-weight:bolder



}